{% extends 'auth/base.html' %}
{% block page_title %}Restablecer contraseña{% endblock %}
{% block card_title %}Restablecer contraseña{% endblock %}
{% block text_login %}
Hemos enviado un código de 6 dígitos a tu correo electrónico <b>{{ correo_verificacion }}</b>. Revisa tu bandeja de
entrada (y la carpeta de spam si es necesario) e ingrésalo a continuación para verificar tu identidad.
{% endblock %}

{% block content %}

<form action="/auth/frm-verify-code" method="POST">
    <!-- CODE -->
    <div class="group">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="icon">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.5 5.918A6.613 6.613 0 0112 15.75c-3.638 0-7.072-1.238-9.75-3.375l-.946-.665c-1.144-.805-1.187-2.02-.07-2.831a2.825 2.825 0 012.3-.235C7.942 9.4 10.74 10.5 12 10.5c.801 0 1.589-.102 2.348-.291A6.608 6.608 0 0115.75 12a6 6 0 01-3 5.196v3.134a.75.75 0 001.5 0v-2.054a.75.75 0 01.442-.694c.94-.374 1.838-.971 2.646-1.748l.42-.42c.813-.813 1.258-1.884 1.258-3.033a2.825 2.825 0 01.375-1.5z" />
        </svg>
        <input type="text" class="input" placeholder="Código de verificación" name="inpCode" autocomplete="off"
            required>
    </div>

    <!-- BUTTON -->
    <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-success">
            <i class="me-2"></i>VERIFICAR CÓDIGO
        </button>
    </div>
</form>

{% endblock %}