<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/auth.css') }}">
</head>

<body>
  <div class="content_card">
    <div class="card_login p-3">
      <div class="title_login">{% block card_title %}{% endblock %}</div>

      <div class="text-center"">
        <div class=" my-3">
        <img src="{{ url_for('static', filename='images/icono.png') }}" width="100">
      </div>
      <div>
        <p class="text_login">
          {% block text_login %}
          {% endblock %}
        </p>
      </div>

      {% if mensaje %}
      <div class="alert alert-{{ tipo_mensaje }} my-2 text-center" role="alert">
        {{ mensaje }}
      </div>
      {% endif %}

    </div>

    {% block content %}{% endblock %}

  </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('auth.static', filename='js/auth.js') }}"></script>
</body>

</html>