{% extends 'auth/base.html' %}
{% block page_title %}Restablecer contraseña{% endblock %}
{% block card_title %}Restablecer contraseña{% endblock %}
{% block text_login %}
Por favor, escribe el correo electrónico asociado a tu cuenta para enviarte un código de verificación.
{% endblock %}

{% block content %}

<form action="/auth/frm-send-code" method="POST">
    <!-- EMAIL -->
    <div class="group">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
            class="icon">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25H4.5A2.25 2.25 0 012.25 17.25V6.75M21.75 6.75L12 13.5 2.25 6.75M21.75 6.75H2.25" />
        </svg>
        <input type="email" class="input" placeholder="Correo electrónico" name="inpEmail" autocomplete="off" required>
    </div>

    <!-- BUTTON -->
    <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-success">
            <i class="me-2"></i>ENVIAR CÓDIGO
        </button>
    </div>
</form>

{% endblock %}